.droppable {
  float: left;
  padding: 2px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 5px 0;
  min-width: 175px;
}

.droppable-preview>div {
  display: none;
}

.droppable-preview-file {
  border: 1px solid #ccc;
  margin: 1px;
  line-height: 20px;
  height: 20px;
}

/**
 * Hides the standard file input element.
 */
.droppable-standard-upload-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

.droppable-standard-upload {
  min-height: 75px;
}

.droppable-controls {
  clear: left;
}

.droppable-message {
  line-height: 75px;
}

.preview-remove {
  float: right;
  cursor: pointer;
  width: 20px;
  background-color: #ccc;
  z-index: 2;
  position: relative;
}

.preview-filesize {
  font-size: 75%;
  color: #555;
}

.droppable-controls input {
  display: none;
}
