.droppable-preview-image {
  border: 1px solid #ccc;
  margin: 1px;
  width: 200px;

  float: left;
  overflow: hidden;
}

.droppable-preview-image img {
  position: relative;
  top: -20px;
  max-width: 200px;
  max-height: 200px;
}
